<h1>Binding or setting properties</h1>

<p>Binding properties is the process of binding the value of a property on one model or view model to that of another model or view model.
    If the "from" property is a <code>ko.observable</code> then all changes to it will reflect in the "to" property. If the "to" property 
    is a <code>ko.observable</code> and the binding is a <Wipeout.Rl text="'two way binding'" href="'/wipeout-1/how-do-i.html?article=bind-two-way'" />, then then all changes to it will reflect in the "from" property.
</p>

<h3>camelCasing</h3>
<p>Html editors do not like upper case letters, and although wipeout templates are xml (not html) you will most likely be uing a html editor to create them. So, within wipeout,
property names contaianing "<code>-</code>" will convert the property name to camel case on the view model. So, <code>my-property="true"</code> in the template will set <code>myProperty = true</code> on the view model.</p>


<h3>Binding</h3>
There are lots of ways to bind items and set properties within a template:

<ul>
    <li>
        <Wipeout.Rl text="'Bind to a static value'" href="'/wipeout-1/how-do-i.html?article=bind-to-static-value'" />
    </li>
    <li>
        <Wipeout.Rl text="'Bind to a property on the view model'" href="'/wipeout-1/how-do-i.html?article=bind-in-scope'" />
    </li>
    <li>
        <Wipeout.Rl text="'Bind to a property on the model'" href="'/wipeout-1/how-do-i.html?article=bind-to-model'" />
    </li>
    <li>
        <Wipeout.Rl text="'Bind to a property on the parent\'s view model'" href="'/wipeout-1/how-do-i.html?article=bind-to-parents-view-model'" />
    </li>
    <li>
        <Wipeout.Rl text="'Set the model from the parent\'s model'" href="'/wipeout-1/how-do-i.html?article=bind-to-parents-model'" />
    </li>
    <li>
        <Wipeout.Rl text="'Cascading models'" href="'/wipeout-1/how-do-i.html?article=cascading-models'" />
    </li>
    <li>
        <Wipeout.Rl text="'Two way bindings'" href="'/wipeout-1/how-do-i.html?article=bind-two-way'" />
    </li>
    <li>
        <Wipeout.Rl text="'Bind to a global value'" href="'/wipeout-1/how-do-i.html?article=bind-to-global'" />
    </li>
    <li>
        <Wipeout.Rl text="'Bind in javascript code'" href="'/wipeout-1/how-do-i.html?article=bind-in-code'" />
    </li>
    <li>
        <Wipeout.Rl text="'Find an ancestor to bind to'" href="'/wipeout-1/how-do-i.html?article=bind-to-ancestor'" />
    </li>
    <li>
        <Wipeout.Rl text="'Call a method on another object'" href="'/wipeout-1/how-do-i.html?article=call-method-out-of-scope'" />
    </li>
</ul>