<h1>Bind to a static value</h1>

<p>
The item you want the template to bind to can be set in the template.
</p>

    <wipeout-docs.view-models.components.new-template-code-block new-script-id="'bind-to-static-value-script-1'">
        <code parser="s">&lt;wo.content model="{ value: 'Hello wipeout!' }">
    &lt;set-template>
        Binding to static value: &lt;span wo-content="$model.value">&lt;/span>
    &lt;/set-template>
&lt;/wo.content></code>
    </wipeout-docs.view-models.components.new-template-code-block>

    
    <wipeout-docs.view-models.components.usage-code-block show-definition-code="false">
        <code parser="s">&lt;wo.view template-id="'bind-to-static-value-script-1'" /></code>
    </wipeout-docs.view-models.components.usage-code-block> 
<br/>
<br/>