<h1>camelCasing</h1>
<p>Because HTML is not case sensitive, it is not advisable to use upper case letters in your element and attribute definitions. To get around this, wipeout supports <a href="http://en.wikipedia.org/wiki/CamelCase" target="_blank">camelCasing</a> using the "<code>-</code>" symbol as the indicator of an upper case letter.<br/>
So for instance, the element <code>&amp;lt;app.my-view-model my-attribute="true"&amp;gt;&amp;lt;/app.my-view-model&amp;gt;</code> will be read as <code>app.myViewModel</code> with the attribute <code>myAttribute="true"</code>.<br/>
    You do not need to use this notation for values within an attribute, e.g. <code>my-attribute="$parentContext.$this"</code> is valid.
</p>