<h1>Get the value of the property</h1>
<p>To get the property value use the <code>name</code> and <code>viewModel</code> items.</p>
Declaration:
<wipeout-docs.view-models.components.code-block show-definition-code="false">
	<code parser="s">&lt;wo.view model--mybinding="$model">&lt;/wo.view></code>
</wipeout-docs.view-models.components.code-block>
Binding:
<wipeout-docs.view-models.components.code-block show-definition-code="false">
	<code parser="s">wo.bindings.mybinding = function mybinding (viewModel, property, renderContext) {
		        
    // gets the value
    var theValue = viewModel[property.name];
		
    // Do any binding stuff here
};</code>
</wipeout-docs.view-models.components.code-block>