<h1>List item lifecycle</h1>

<p>You can inherit from the <code>list</code> to create lists with tighter control on the view models they render.</p>

<p>
With a custom list you can control
    <wipeout-docs.rl href="'/wipeout/## insert: site-directory ##/api.html?type=api&amp;className=wo.list&amp;functionName=onItemRendered&amp;isStatic=false'" text="'what happens when list items are added'"></wipeout-docs.rl>
    and 
    <wipeout-docs.rl href="'/wipeout/## insert: site-directory ##/api.html?type=api&amp;className=wo.list&amp;functionName=onItemRemoved&amp;isStatic=false'" text="'what happens when list items are removed'"></wipeout-docs.rl>.
</p>
<wipeout-docs.view-models.components.code-block>
    <code parser="s">var mylist = wo.viewModel("mylist", wo.list)
    .build();
        
mylist.onItemRendered = function(item) {
    this._super(item);

    // do initialization logic here
};

mylist.onItemRemoved = function(item) {
    this._super(item);

    // do cleanup logic here
};</code>
</wipeout-docs.view-models.components.code-block>

Usage:
<wipeout-docs.view-models.components.code-block>
    <code parser="s">&lt;my-list items="...">...&lt;/my-list></code>
</wipeout-docs.view-models.components.code-block>


<p>Remember that <code>onItemRendered</code> and <code>onItemRemoved</code> are methods which already exist on the <code>wo.list</code> class. When you override a method of a parent class it is generally necessary to call the <wipeout-docs.rl href="'/wipeout/## insert: site-directory ##/api.html?type=api&amp;className=orienteer&amp;functionName=_super&amp;isStatic=false'" text="'_super'"></wipeout-docs.rl> method so that the method of the parent class is still invoked.</p>