<h1>Set a string property</h1>

<p>By default properties without a type are parsed as strings. You can also explicitly set invoke the string parser.
</p>

    <wipeout-docs.view-models.components.new-template-code-block new-script-id="'set-string-property-script-1'">
        <code parser="s">&lt;wo.content>
    &lt;my-val constructor="string">
        Hello wipeout!
    &lt;/my-val>
    &lt;set-template>
        Binding to element value: &lt;span data-bind="text: myVal">&lt;/span>
    &lt;/set-template>
&lt;/wo.content></code>
    </wipeout-docs.view-models.components.new-template-code-block>

    
    <wipeout-docs.view-models.components.usage-code-block show-definition-code="false">
        <code parser="s">&lt;wo.view template-id="'set-string-property-script-1'" /></code>
    </wipeout-docs.view-models.components.usage-code-block> 