<h1>Value Attributes</h1>
<p>Value attributes are attributes which modify an element or view model property. One example which modifies both an element and view model property is <wipeout-docs.rl href="'/wipeout/## insert: site-directory ##/how-do-i.html?article=wo-value'" text="'value'"></wipeout-docs.rl>.</p>

<wipeout-docs.view-models.components.new-template-code-block new-script-id="'value-attributes-example'" highlight--s="wo-content">
    <code parser="s">&lt;wo.content model--s="Hello Wipeout!">
    &lt;set-template>
        &lt;input wo-value="$model" />
    &lt;/set-template>
&lt;/wo.content></code>
</wipeout-docs.view-models.components.new-template-code-block>

<wipeout-docs.view-models.components.usage-code-block show-definition-code="false">
    <code parser="s">&lt;wo.view template-id="'value-attributes-example'">&lt;/wo.view></code>
</wipeout-docs.view-models.components.usage-code-block> 