<h1>The Visible attribute</h1>
<h3><code>wo-visible="value"</code></h3>
<h3><code>data-wo-visible="value"</code></h3>
<p>The visible attribute defines whether an element is visible or not.</p>
<wipeout-docs.view-models.components.new-template-code-block new-script-id="'wo-visible-attr'" highlight--s="wo-visible">
    <code parser="s">&lt;wo.content model="true">
    &lt;set-template>
        &lt;span wo-visible="$model">This is visible&lt;/span> <br />
        &lt;span wo-visible="!$model">This is not visible&lt;/span>
    &lt;/set-template>
&lt;/wo.content></code>
</wipeout-docs.view-models.components.new-template-code-block>

<wipeout-docs.view-models.components.usage-code-block show-definition-code="false">
    <code parser="s">&lt;wo.view template-id="'wo-visible-attr'">&lt;/wo.view></code>
</wipeout-docs.view-models.components.usage-code-block> 