<h1>Working with lists</h1>

<p>Within wipeout, lists are handled by the <wipeout-docs.rl href="'/wipeout/## insert: site-directory ##/api.html?type=api&amp;className=wo.list'" text="'list'"></wipeout-docs.rl> viewModel. The items control allows you to specify a template for each item in the list and render accordingly.
</p>
    
<wipeout-docs.view-models.components.new-template-code-block new-script-id--s="working-with-lists-1">
    <code parser="s">&lt;wo.list items="['Hello wipeout 1', 'Hello wipeout 2']">
    &lt;item-template>
        &lt;div>
            &lt;span wo-content="$model">&lt;/span>, 
            Index: &lt;span wo-content="$index.value">&lt;/span>
        &lt;/div>
    &lt;/item-template>
&lt;/wo.list></code>
</wipeout-docs.view-models.components.new-template-code-block>
<wipeout-docs.view-models.components.usage-code-block show-definition-code="false">
    <code parser="s">&lt;wo.view template-id--s="working-with-lists-1">&lt;/wo.view></code>
</wipeout-docs.view-models.components.usage-code-block>

<p>In the itemTemplate, you access an object from the <code>items</code> using the <code>$model</code> property. You can also access the object's index using <code>$index.value</code>.
</p>