<h1>Add a property binding</h1>
<p>When binding a viewModel property within a template, the default binding direction is <wipeout-docs.rl href="'/wipeout/## insert: site-directory ##/how-do-i.html?article=bind-one-way'" text="'one way'"></wipeout-docs.rl>. It may be necessary to change this direction to another binding type (<wipeout-docs.rl href="'/wipeout/## insert: site-directory ##/how-do-i.html?article=bind-two-way'" text="'two ways'"></wipeout-docs.rl>, <wipeout-docs.rl href="'/wipeout/## insert: site-directory ##/how-do-i.html?article=bind-one-way-to-source'" text="'one way to source'"></wipeout-docs.rl> etc...) using the <code>binding</code> method.</p>
<wipeout-docs.view-models.components.code-block>
    <code parser="s">wo.viewModel("myNamespace.myViewModel")
    .binding("myProperty", "tw")
    .build();</code>
</wipeout-docs.view-models.components.code-block>
<p>There are a variety of bindings you can use, or you can <wipeout-docs.rl href="'/wipeout/## insert: site-directory ##/how-do-i.html?article=custom-binding'" text="'define your own'"></wipeout-docs.rl></p>
<br />
<br />
<br />