<h1>Add a property binding</h1>
<p>When binding a viewModel property within a template, the default binding direction is one way (TODOD link). It may be necessary to change this direction to another binding type (two way (TODOD link), one way to source (TODOD, link) etc...) using the <code>binding</code> method.</p>
<wipeout-docs.view-models.components.code-block>
    <code parser="s">wo.viewModel("myNamespace.myViewModel")
    .binding("myProperty", "tw")
    .build();</code>
</wipeout-docs.view-models.components.code-block>
<p>There are a variety of bindings you can use, or you can define your own (TODOD link)</p>
<br />
<br />
<br />