<h1>Binding to global values</h1>

    <p>The binding scope also includes the window object, so you can bind to global variables</p>

    <wipeout-docs.view-models.components.js-js-code-block newScriptId="'bind-to-global-script-1'">
        <code>window.exampleValue = {
    innerValue: "Hello wipeout!"
};</code>
    </wipeout-docs.view-models.components.js-js-code-block>
    <wipeout-docs.view-models.components.new-template-code-block newScriptId="'bind-to-global-script-1'">
        <code>&lt;wo.content-control model="exampleValue.innerValue">
    &lt;template>
        Binding to global: &lt;span data-bind="text: model">&lt;/span>
    &lt;/template>
&lt;/wo.content-control></code>
    </wipeout-docs.view-models.components.new-template-code-block>

    
    <wipeout-docs.view-models.components.usage-code-block showDefinitionCode="false">
        <code>&lt;wo.view templateId="'bind-to-global-script-1'" /></code>
    </wipeout-docs.view-models.components.usage-code-block> 
<br/>
<br/>