<h1>Bind to the property of an ancestor</h1>

    <p>There is a helper function which can find ancestors based on their proerties, type, depth or any other custom attribute you need.</p>

    <wipeout-docs.view-models.components.js-js-code-block newScriptId="'bind-to-global-script-1'">
        <code>// create a custom class to distinguish type
window.myType = wo.contentControl.extend(function myType() {
    this._super();
});</code>
    </wipeoutDocs.viewModels.components.JsCodeBlock>
    <wipeout-docs.view-models.components.new-template-code-block newScriptId="'bind-to-ancestor-script-1'">
        <code>&lt;myType model="'Hello wipeout!'">
    &lt;template>
        &lt;wo.content-control model="$find(myType).model">
            &lt;template>
                Binding to a specific ancestor: &lt;span data-bind="text: model">&lt;/span>
            &lt;/template>
        &lt;/wo.content-control>
    &lt;/template>
&lt;/myType></code>
    </wipeoutDocs.viewModels.components.newTemplateCodeBlock>

    
    <wipeout-docs.view-models.components.usage-code-block showDefinitionCode="false">
        <code>&lt;wo.view templateId="'bind-to-ancestor-script-1'" /></code>
    </wipeoutDocs.viewModels.components.usageCodeBlock> 
<br/>
<br/>
<p>There is a full customisable api for finding ancestors, documented <wipeout.rl href="'/wipeout/how-do-i.html?article=bind-to-specific-view-model'" text="'here'" /></p>