<h1>Binding or setting properties</h1>

<p>Binding properties is the process of binding the value of a property on one model or viewModel to that of another model or viewModel.
    If the "from" object is a (TODOD: link) viewModel, <a href="https://github.com/ShaneGH/busybody" target="_blank"><code>busybody.observable</code> or has been made observable with <code>busybody.makeObservable</code> </a> then all changes to it's property will reflect in the "to" property. If the "to" object is likewise and the binding is a <wipeout-docs.rl text="'two way binding'" href="'/wipeout/## insert: site-directory ##/how-do-i.html?article=bind-two-way'"></wipeout-docs.rl> , then then all changes to it will reflect in the "from" property.
</p>

<h3>camelCasing</h3>
<p>Because HTML is not case sensitive, it is not advisable to use upper case letter in your element and attribute definitions. To get around this, wipeout supports <a href="http://en.wikipedia.org/wiki/CamelCase" target="_blank">camelCasing</a> using the "<code>-</code>" symbol as the indicator of an upper case letter.<br/>
So for instance, the element <code>&amp;lt;app.my-view-model my-attribute="true"&amp;gt;&amp;lt;/app.my-view-model&amp;gt;</code> will be read as <code>app.myViewModel</code> with the attribute <code>myAttribute="true"</code>.<br/>
</p>