<h1>Bind to a static value</h1>

<p>
The item you want the template to bind to can be set in the template.
</p>

    <wipeout-docs.view-models.components.new-template-code-block newScriptId="'bind-to-static-value-script-1'">
        <code>&lt;wo.content-control model="{ value: 'Hello wipeout!' }">
    &lt;template>
        Binding to static value: &lt;span data-bind="text: model().value">&lt;/span>
    &lt;/template>
&lt;/wo.content-control></code>
    </wipeoutDocs.viewModels.components.newTemplateCodeBlock>

    
    <wipeout-docs.view-models.components.usage-code-block showDefinitionCode="false">
        <code>&lt;wo.view templateId="'bind-to-static-value-script-1'" /></code>
    </wipeoutDocs.viewModels.components.usageCodeBlock> 
<br/>
<br/>