<h1>One way to source</h1>

<img src="/wipeout/## insert: site-directory ##/content/images/oneWayToSourceBinding.png" />
<p>
By default, all bindings are one way from the parent (source) to the child (destination). This means that the object where the propery 
    is set will recieve updates when the property changes, however, if the object where the property is set changes the value itself, the original owner of the property will not be notified. Sometimes you may wish to reverse this behavior, using the <code>oneWayToSource</code> binding.
    One way to source bindings use the <code>--owts</code> <wipeout-docs.rl href--s="/wipeout/## insert: site-directory ##/how-do-i.html?article=property-flags" text="'flag'"></wipeout-docs.rl>.
</p>

    <wipeout-docs.view-models.components.new-template-code-block new-script-id="'bind-owts-script-1'" highlight--s="--owts">
        <code parser="s">&lt;wo.content-control>
    &lt;set-template>
        One way to source bindings: &lt;span wo-content="$this.model">&lt;/span>
        &lt;br />
        &lt;wo.content-control input-value--owts="$this.model">
            &lt;set-template>
                &lt;input type="text" wo-value="$this.inputValue" wo-on-event="keyup"/>
            &lt;/set-template>
        &lt;/wo.content-control>
    &lt;/set-template>
&lt;/wo.content-control></code>
    </wipeout-docs.view-models.components.new-template-code-block>
    
    <wipeout-docs.view-models.components.usage-code-block show-definition-code="false">
        <code parser="s">&lt;wo.view template-id="'bind-owts-script-1'">&lt;/wo.view></code>
    </wipeout-docs.view-models.components.usage-code-block> 

    <p>
		Now if the child content control modifies it's <code>model</code>, the resulting change will reflect in the parent's <code>model.value</code>, but not view versa. To bind twa ways, you must use a <wipeout-docs.rl href="'/wipeout/## insert: site-directory ##/how-do-i.html?article=bind-two-way'" text="'two way'"></wipeout-docs.rl> binding.
</p>
<br/>
<br/>