<h1>Bind to a specific viewModel</h1>

    <p>When binding or setting prperties it is often useful to bind to ancestors, especially when using nested anonymous templates (contentControls), and there are four mechanisms for doing this:
<ol>
    <li><wipeout-docs.rl href="'/wipeout/## insert: site-directory ##/how-do-i.html?article=knockout-binding-context'" text="'Knockout binding context'" /></li>
    <li><wipeout-docs.rl href="'/wipeout/## insert: site-directory ##/how-do-i.html?article=find-a-view-model'" text="'$context.find(...)'" /></li>
    <li><wipeout-docs.rl href="'/wipeout/## insert: site-directory ##/how-do-i.html?article=call-a-view-model-method'" text="'$call(...)'" /></li>
    <li><wipeout-docs.rl href="'/wipeout/## insert: site-directory ##/how-do-i.html?article=find-and-call-a-view-model-method'" text="'$findAndCall(...)'" /></li>
</ol> 
</p>