<h1>Call a method of an ancestor</h1>

    <p>Using knockout event bindings always sets the context of your functions to the current scope. However, when using ancestors function, it is 
    generally more useful to have ancestor obect as the scope. The $call API will do this</p>

    <wipeout-docs.view-models.components.js-js-code-block>
        <code>// create a custom class to distinguish type
window.myType = wo.contentControl.extend(function myType() {
    this._super();
            
    this.example = "Call the method of an ancestor: ";
});
        
myType.prototype.click = function(text) {
    alert(this.example + text);
};</code>
    </wipeoutDocs.viewModels.components.JsCodeBlock>
    <wipeout-docs.view-models.components.new-template-code-block newScriptId="'call-method-out-of-scope-script-1'">
        <code>&lt;myType model="'Hello wipeout!'">
    &lt;template>
        &lt;wo.content-control>
            &lt;template>
                &lt;button data-bind="click: $call(myType).dot('click').args('Hello wipeout!')">Test&lt;/button>
            &lt;/template>
        &lt;/wo.content-control>
    &lt;/template>
&lt;/myType></code>
    </wipeoutDocs.viewModels.components.newTemplateCodeBlock>

    
    <wipeout-docs.view-models.components.usage-code-block showDefinitionCode="false">
        <code>&lt;wo.view templateId="'call-method-out-of-scope-script-1'" /></code>
    </wipeoutDocs.viewModels.components.usageCodeBlock> 
There is <code>$call</code>, documented  <wipeout.rl href="'/wipeout/how-do-i.html?article=call-a-view-model-method'" text="'here'" />.
<br/>
<br/>