<h1>Call a method</h1>

    <p>Dom events are handled by standard knockout <a href="http://knockoutjs.com/documentation/introduction.html">event bindings</a>. The context of the event handler will always be the current view model, even if it resides on another object</p>

    <wipeout-docs.view-models.components.js-js-code-block>
        <code>
window.myType = wo.contentControl.extend(function myType() {
    this._super();
            
    this.name = "My View Model";
});
        
myType.prototype.eventHandler1 = function() {
    alert(this.name);
};
        
window.aStaticObject = {
    name: "My Static Object",
    eventHandler2: function() {
        alert(this.name);
    }
};</code>
    </wipeoutDocs.viewModels.components.JsCodeBlock>
    <wipeout-docs.view-models.components.new-template-code-block newScriptId="'call-a-method-script-1'">
        <code>&lt;my-type>
    &lt;template>
        &lt;button data-bind="click: eventHandler1">Test1&lt;/button>
        &lt;button data-bind="click: aStaticObject.eventHandler2">Test2&lt;/button>
    &lt;/template>
&lt;/my-type></code>
    </wipeoutDocs.viewModels.components.newTemplateCodeBlock>

    
    <wipeout-docs.view-models.components.usage-code-block showDefinitionCode="false">
        <code>&lt;wo.view templateId="'call-a-method-script-1'" /></code>
    </wipeoutDocs.viewModels.components.usageCodeBlock> 
<br/>
<br/>