<h1>Call a method of an ancestor</h1>

    <p>Using knockout event bindings always sets the context of your functions to the current scope. However, when using ancestors function, it is 
    generally more useful to have ancestor obect as the scope. The $call API will do this</p>

    <wipeout-docs.view-models.components.js-js-code-block>
        <code>// create a custom class to distinguish type
window.myType = wo.contentControl.extend(function myType() {
    this._super();
            
    this.example = "Call the method of an ancestor: ";
});
        
myType.prototype.click = function(text) {
    alert(this.example + text);
};</code>
    </wipeout-docs.view-models.components.js-js-code-block>
    <wipeout-docs.view-models.components.new-template-code-block new-script-id="'call-method-out-of-scope-script-1'">
        <code parser="s">&lt;myType model="'Hello wipeout!'">
    &lt;set-template>
        &lt;wo.content-control>
            &lt;set-template>
                &lt;button data-bind="click: $call(myType).dot('click').args('Hello wipeout!')">Test&lt;/button>
            &lt;/set-template>
        &lt;/wo.content-control>
    &lt;/set-template>
&lt;/myType></code>
    </wipeout-docs.view-models.components.new-template-code-block>

    
    <wipeout-docs.view-models.components.usage-code-block show-definition-code="false">
        <code parser="s">&lt;wo.view template-id="'call-method-out-of-scope-script-1'" /></code>
    </wipeout-docs.view-models.components.usage-code-block> 
There is <code>$call</code>, documented  <wipeout-docs.rl href="'/wipeout/how-do-i.html?article=call-a-view-model-method'" text="'here'" />.
<br/>
<br/>