<h1>Cascading models</h1>

<p>
If the model property of a view model is not explicitly set, it recieves the mode of its parent.
</p>

    <wipeout-docs.view-models.components.new-template-code-block newScriptId="'cascading-models-script-1'">
        <code>&lt;wo.content-control model="{ value: 'Hello wipeout!' }">
    &lt;template>
        &lt;wo.content-control>
            &lt;template>
                Binding to a property on a cascaded model: &lt;span data-bind="text: model().value">&lt;/span>
            &lt;/template>
        &lt;/wo.content-control>
    &lt;/template>
&lt;/wo.content-control></code>
    </wipeout-docs.view-models.components.new-template-code-block>

    
    <wipeout-docs.view-models.components.usage-code-block showDefinitionCode="false">
        <code>&lt;wo.view templateId="'cascading-models-script-1'" /></code>
    </wipeout-docs.view-models.components.usage-code-block> 
<br/>
<br/>