<h1>Complex template properties</h1>
<p>As well as binding using view model attributes, you can also bind using view model inner element.</p>
<wipeout-docs.view-models.components.code-block>
    <code parser="s">&lt;wo.view value1="$model">
    &lt;value2>$model&lt;/value2>
    &lt;value3 value="$model">&lt;/value3>
    &lt;value4>
        &lt;js-object>
            &lt;value5>$model&lt;/value5>
        &lt;/js-object>
    &lt;/value4>
&lt;/wo.view></code>
</wipeout-docs.view-models.components.code-block>
<p>There is more info on this here (TODOD link).</p>