<h1>Custom $find filters</h1>

    <p>Find filters (such as $instanceof, $ancestry and $type) are static functions defined on the 
    	<wipeout.rl href="'/wipeout/## insert: site-directory ##/api.html?type=api&amp;className=wipeout.utils.find'" text="'wo.find'" /> function.
    	You can add your own filter by adding a custom method. For example:</p>

    <wipeout-docs.view-models.components.code-block>
        <code>// find a viewmodel is a specific namespace
wo.find.$namespace = function(currentItem, searchTerm, index) {
	// searchTerm will be the namespace passed in
	for(var i in searchTerm) {
		if(searchTerm[i] === currentItem){
			return true;
		}
	}
	
	return false;
}</code>
    </wipeout-docs.view-models.components.code-block>

<p>And then using the filter</p>
    
<wipeout-docs.view-models.components.code-block>
    <code>&lt;my-namespace.my-view-model model="'Hello wipeout!'">
    &lt;template>
        &lt;wo.content-control my-view-model-ancestor="$find({$namespace: myNamespace})">
            &lt;template>
                &lt;span data-bind="text: myViewModelAncestor.model">&lt;/span>
            &lt;/template>
        &lt;/wo.content-control>
    &lt;/template>
&lt;/my-namespace.my-view-model></code>
</wipeout-docs.view-models.components.code-block>

<p>Custom filters must begin with <code>$</code> to differenciate them from property filters.</p>