<h1>Define a view model</h1>
<p>View model definitions create view model classes and determine how a view model will act once it is created by wipeout.</p>
<p>The most basic view model definition looks like this:</p>
<wipeout-docs.view-models.components.code-block>
<code parser="s">wo.viewModel("myNamespace.myViewModel").build();</code>
</wipeout-docs.view-models.components.code-block>

<p>
    What this definition will do is:
    <ol>
        <li>Create a <code>window.myNamespace</code> object. If one exists already, do not overwrite it.</li>
        <li>Create a <code>myViewModel</code> function. myViewModel will be the view model <a href="http://en.wikipedia.org/wiki/Class_(computer_programming)" target="_blank">class</a>. In order to implement the most basic view model functionality (templates, lifecycle management etc...) the view model will inherit from <code>wo.view</code> by default.</li>
        <li>Append the <code>myViewModel</code>  to <code>window.myNamespace</code>, (as <code>window.myNamespace.myViewModel</code>).</li>
</ol>
Always remember to <code>build(...)</code> view models after all definitioins.
</p>