<h1>Dispose of the binding</h1>

<p>There are often subscriptions and other disposable scenarios which occur outside of the <code>property</code> argument to the binding. These must be disposed of manually to prevent memory leaks. In order to dispose of an item manually a dispose function must be returned from the binding function.</p>

<br/>Declaration
<wipeout-docs.view-models.components.code-block show-definition-code="false">
	<code parser="s">&lt;wo.view model--mybinding="$this.model">&lt;/wo.view></code>
</wipeout-docs.view-models.components.code-block>
Binding:
<wipeout-docs.view-models.components.code-block show-definition-code="false">
	<code parser="s">wo.bindings.mybinding = function mybinding (viewModel, property, renderContext) {

    // observe the model property of the viewModel. This will create a disposable
    // which we want to dispose of when the binding is torn down
    var disposable = viewModel.observe(property.name, function (...) { ... });

    return function () {
        disposable.dispose();
    };

    -- OR --

    return disposable;
};</code>
</wipeout-docs.view-models.components.code-block>