<h1>Getting started</h1>

<p>
Getting started is really easy. It's javascript easy! Just download the latest verion of <a href="/wipeout/## insert: site-directory ##/download.html" target="_blank">wipeout</a> and add it to your page.</p>
<p>Included in wipeout are two external libraries:
    <ul>
        <li><wipeout-docs.rl href="'/wipeout/## insert: site-directory ##/how-do-i.html?article=get-started-with-orienteer'" text="'Orienteer'"></wipeout-docs.rl> is a simple object oriented library for javascript. It is used under the hood in wipeout and can be used for advanced wipeout view model building scenarios.
        </li>
        <li><wipeout-docs.rl href="'/wipeout/## insert: site-directory ##/how-do-i.html?article=get-started-with-busybody'" text="'Busybody'"></wipeout-docs.rl> is a client binding library which allows you to observe for changes to the property of an object. It is used extensively by wipeout and you will most likely use it's <a href="https://github.com/ShaneGH/busybody#observing-a-value" target="_blank">observe</a> and <a href="https://github.com/ShaneGH/busybody#computed-observables" target="_blank">computed</a> functionality.
        </li>
</ul>
</p>