<h1>Functions and events</h1>
<p>You can add custom functions to a viewModel which can then be called by user actions such as a mouse click.</p>

<wipeout-docs.view-models.components.j-code-block>
	<code parser="s">// viewModel 1
var person = wo.viewModel("demoApp.person")
    .templateId("/person.html")
    .build();

// add a function to the person which will display the name
person.displayFullName = function () {
    if (this.model) {
        alert(this.model.firstName + " " + this.model.lastName);
    }
};
		
// viewModel 2
wo.viewModel("demoApp.name")
    // for this viewModel type we want
    // any changes to the "model" property
    // to reflect in the property it is bound to.
    // "tw" stands for "two way"
    .binding("model", "tw")
    .templateId("/name.html")
    .build();</code>
</wipeout-docs.view-models.components.j-code-block>

<p>At the URL "/person.html"</p>
<wipeout-docs.view-models.components.new-template-code-block new-script-id--s="/person.html">
	<code parser="s">&lt;div>
    First name: &lt;demo-app.name model="$model.firstName">&lt;/demo-app.name> &lt;br />
    Last name: &lt;demo-app.name model="$model.lastName">&lt;/demo-app.name> &lt;br />

    &lt;button wo-click="$this.displayFullName">Display name&lt;/button>
&lt;/div></code>
</wipeout-docs.view-models.components.new-template-code-block>

<p>And at the URL "/person.html"</p>
<wipeout-docs.view-models.components.new-template-code-block new-script-id--s="/name.html">
	<code parser="s">&lt;input type="text" wo-value="$model" /></code>
</wipeout-docs.view-models.components.new-template-code-block>

<br />
<p>So the following element in html:</p>
<wipeout-docs.view-models.components.usage-code-block show-definition-code="true">
	<code parser="s">&lt;demo-app.person model="{firstName: 'Robert', lastName: 'Paulson'}">&lt;/demo-app.person></code>
</wipeout-docs.view-models.components.usage-code-block>
<br/>
<br/>
<br/>