<h1>viewModels</h1>
<p>Using simple functions as viewModels is ok for the most basic of functionality, however, in order to access the rich set of wipeout features, you must create viewModels.</p>

<wipeout-docs.view-models.components.code-block>
	<code parser="s">// viewModel 1
wo.viewModel("demoApp.rootApplication")
    .templateId("/root-application.html")
    .build();
		
// viewModel 2
wo.viewModel("demoApp.innerViewModel")
    .templateId("/inner-view-model.html")
    .build();</code>
</wipeout-docs.view-models.components.code-block>

<p>At the URL "/root-application.html"</p>
<wipeout-docs.view-models.components.code-block>
	<code parser="s">&lt;h1>Welcome to wipeout&lt;/h1>
&lt;div>
    &lt;!-- as you can see, the root-application
            contains an inner-view-model -->
    &lt;demo-app.inner-view-model>
    &lt;/demo-app.inner-view-model>
&lt;/div></code>
</wipeout-docs.view-models.components.code-block>

<p>And at the URL "/inner-view-model.html"</p>
<wipeout-docs.view-models.components.code-block>
	<code parser="s">&lt;span>It supports templates&lt;/span></code>
</wipeout-docs.view-models.components.code-block>

<p>So an <code>&amp;lt;app.root-application></code> element in html will render:</p>
<wipeout-docs.view-models.components.code-block>
	<code parser="s">&lt;h1>Welcome to wipeout&lt;/h1>
&lt;div>
    &lt;span>It supports templates&lt;/span>
&lt;/div></code>
</wipeout-docs.view-models.components.code-block>