<h1>Using lists of items</h1>

<p>Lists of items are at the core of all javascript frameworks, and wipeout is no different. For simple objects you can simply render any array to render the sum of it's contents.</p>

<wipeout-docs.view-models.components.new-template-code-block new-script-id--s="gettingStartedWithLists1">
	<code parser="s">&lt;div wo-render="[new Date(), ' Item 2 ', 3]">&lt;/div></code>
</wipeout-docs.view-models.components.new-template-code-block>
Will render
<wipeout-docs.view-models.components.usage-code-block show-definition-code="false">
	<code parser="s">&lt;wo.view template-id--s="gettingStartedWithLists1">&lt;/wo.view></code>
</wipeout-docs.view-models.components.usage-code-block>

<p>Alternatively, you will more likely want to create a viewModel with a template for each item. You can do this using an 
	<wipeout-docs.rl href="'/wipeout/## insert: site-directory ##/api.html?type=api&amp;className=wo.itemsControl'" text="'itemsControl'">
	</wipeout-docs.rl>
</p>

<wipeout-docs.view-models.components.new-template-code-block new-script-id--s="gettingStartedWithLists2">
	<code parser="s">&lt;ul>
    &lt;wo.items-control items="[{itemText: 'Item 1'}, {itemText: 'Item 2'}]">
        &lt;item-template>
            &lt;li wo-content="$model.itemText">&lt;/li>
        &lt;/item-template>
    &lt;/wo.items-control>
&lt;/ul></code>
</wipeout-docs.view-models.components.new-template-code-block>
Will render
<wipeout-docs.view-models.components.usage-code-block show-definition-code="false">
	<code parser="s">&lt;wo.view template-id--s="gettingStartedWithLists2">&lt;/wo.view></code>
</wipeout-docs.view-models.components.usage-code-block>
<br/>
<br/>