<wipeout-docs.rl href="'/wipeout/## insert: site-directory ##/how-do-i.html?article=get-started-with-mvvm-interactions'" text="'<< previous'"></wipeout-docs.rl>
<h1>Pluggable MVVM components</h1>

<p>Expanding on the <wipeout-docs.rl href="'/wipeout/## insert: site-directory ##/how-do-i.html?article=get-started-with-mvvm-interactions'" text="'previous article'"></wipeout-docs.rl>, MVVM screams componentization. Wipeout has a few view model types for basic scenarios, and you can also create your own.</p>
<p>In this example we will use the <wipeout-docs.rl href="'/wipeout/## insert: site-directory ##/how-do-i.html?article=working-with-lists'" text="'itemsControl'"></wipeout-docs.rl> component to render the person names in a <code>&amp;lt;ul></code>. You can set properties of a nested component within the template.</p>
<wipeout-docs.view-models.components.code-block highlight="['$model.people', 'items-control']">
    <code parser="s">&lt;div>
    &lt;button wo-click="$this.toggleVisibility">Toggle&lt;/button>
    &lt;ul wo-visible="$this.visible">
        &lt;wo.items-control items="$model.people">
            &lt;item-template>
                &lt;li>
                    {{$model}}
                &lt;/li>
            &lt;/item-template>
        &lt;/wo.items-control>
    &lt;/ul>
    &lt;input type="text" id="newName" />
    &lt;button wo-click="$this.addNewName">Add&lt;/button>
&lt;/div></code>
</wipeout-docs.view-models.components.code-block>
<wipeout-docs.rl href="'/wipeout/## insert: site-directory ##/how-do-i.html?article=get-started-with-view-models'" text="'continued >>'"></wipeout-docs.rl>
<br />
<br />