<h1>The if control</h1>

<p>
    If/else functionality in a wipeout template is handled by the <wipeout-docs.rl href="'/wipeout/## insert: site-directory ##/api.html?type=api&amp;className=wo.if'" text="'wo.if'" /> control.
</p>

    <wipeout-docs.view-models.components.code-block>
        <code parser="s">&lt;wo.if condition="true">
    &lt;set-template>
        The condition is true
    &lt;/set-template>
    &lt;else-template>
        The condition is false
    &lt;/else-template>
&lt;/wo.if></code>
    </wipeout-docs.view-models.components.code-block>

<p>
    One thing to note, is that <wipeout-docs.rl href="'/wipeout/how-do-i.html?article=share-parent-scope'" text="'shareParentScope'" /> defaults to true for an if control. This means that the if control cannot be seen by other view models.
    You can explicitly set this property to false in the template definition if this is not required.
</p>