<h1>Setting the binding strategy for a view model</h1>

<p>You can set the binding strategy for a specific view model when you create it in a template.</p>
<wipeout-docs.view-models.components.code-block>
    <code parser="s">&lt;wo.view binding-strategy="createObservables">&lt;/wo.view>
&lt;!-- or -->
&lt;wo.view binding-strategy="bindNonObservables">&lt;/wo.view>
&lt;!-- or -->
&lt;wo.view binding-strategy="onlyBindObservables">&lt;/wo.view></code>
</wipeout-docs.view-models.components.code-block>