<h1>Observe the value of the property</h1>
<p>If you need to observe the property value for change, you can use the <code>onPropertyChanged</code> function.</p>
Declaration:
<wipeout-docs.view-models.components.code-block show-definition-code="false">
	<code parser="s">&lt;wo.view model--mybinding="$model">&lt;/wo.view></code>
</wipeout-docs.view-models.components.code-block>
Binding:
<wipeout-docs.view-models.components.code-block show-definition-code="false">
	<code parser="s">wo.bindings.mybinding = function mybinding (viewModel, property, renderContext) {
		
    // will observe the model property of the view model for change
    property.onPropertyChanged(function (oldValue, newValue) {
        
        // Do any binding stuff here
    }, true);
};</code>
</wipeout-docs.view-models.components.code-block>

<p>The second argument to <code>onPropertyChanged</code> tells wipeout to execute the callback immediately, as if the property had just changed.</p>