<h1>Property flags</h1>

<p>Sometimes you might like to say something about the property within the property itself. Examples of this are:</p>
<ol>
	<li>(TODOD, link) Defining how two properties will be bound (one way, two way etc...)</li>
	<li>(TODOD, link) Defining how the string value in the property will be parsed</li>
</ol>

<p>In order to achieve this you can use property flags. Property flags are a method of splitting a property name into two parts. The first part is the property name, the second is a list of flags.</p>
<p>The seperator for property flags is "<code>--</code>" and each subsequent flag is seperated by a "<code>-</code>".</p>

<p>For instance the model property setting in the view model: <code>&amp;lt;wo.view model--nb-s="Hello wipeout!">&amp;lt;/wo.view></code> uses the (TODOD link) "No Binding" binding and the (TODOD link)"String" parser.</p>
