<h1>Render binding</h1>

<p>The render binding is used internally in wipeout to render view models, and can also be used in application development</p>

<wipeout-docs.view-models.components.js-js-code-block>
    <code>window.renderVm = wo.contentControl.extend(function renderVm() {
    this._super();
        
    this.innerItem = new wo.contentControl();
    this.innerItem.template("Hello wipeout!");
});</code>
</wipeoutDocs.viewModels.components.JsCodeBlock>

<wipeout-docs.view-models.components.new-template-code-block newScriptId="'render-binding-script-1'">
    <code>&lt;render-vm>
    &lt;template>
        &lt;div data-bind="render: innerItem">&lt;/div>
    &lt;/template>
&lt;/render-vm></code>
</wipeoutDocs.viewModels.components.newTemplateCodeBlock>

    
    <wipeout-docs.view-models.components.usage-code-block showDefinitionCode="false">
        <code>&lt;wo.view templateId="'render-binding-script-1'" /></code>
    </wipeoutDocs.viewModels.components.usageCodeBlock>   