<h1>Render binding</h1>

<p>The render binding is used internally in wipeout to render view models, and can also be used in application development</p>

<wipeout-docs.view-models.components.js-js-code-block>
    <code>window.renderVm = wo.contentControl.extend(function renderVm() {
    this._super();
        
    this.innerItem = new wo.contentControl();
    this.innerItem.template("Hello wipeout!");
});</code>
</wipeout-docs.view-models.components.js-js-code-block>

<wipeout-docs.view-models.components.new-template-code-block new-script-id="'render-binding-script-1'">
    <code parser="s">&lt;render-vm>
    &lt;set-template>
        &lt;div data-bind="render: innerItem">&lt;/div>
    &lt;/set-template>
&lt;/render-vm></code>
</wipeout-docs.view-models.components.new-template-code-block>

    
    <wipeout-docs.view-models.components.usage-code-block show-definition-code="false">
        <code parser="s">&lt;wo.view template-id="'render-binding-script-1'" /></code>
    </wipeout-docs.view-models.components.usage-code-block>   