<h1>Reserved tags</h1>

<p>When compiling templates, wipeout uses an opt-out model for deciding what is a view model and what is a html tag. If you are using web components or need
some custom tags in html markup you can register the tag with <wipeout.rl href="'/wipeout/## insert: site-directory ##/api.html?type=api&amp;className=wo.visual&amp;propertyName=reservedTags&amp;isStatic=true'" text="'reservedTags'" /> </p>
    
<wipeout-docs.view-models.components.code-block>
    <code>wo.visual.reservedTags["my-tag"] = true;</code>
</wipeoutDocs.viewModels.components.codeBlock>