<h1>Routed Event Models</h1>

    <p>Routed events are generally for the viewModel layer. They travel up and down the viewModel stack, which is essentially the DOM, and do not interact with the model layer.
 Models can interact with routed events by inheriting from the <wipeout-docs.rl href="'/wipeout/## insert: site-directory ##/api.html?type=api&amp;className=wo.routedEventModel'" text="'routedEventModel'" /> class </p>
<p>The routed event model is a type known by the viewModel layer. When a routed event is caught by a viewModel, it:
<ol>
    <li>checks to see if it is subscribed to it</li>
    <li>checks to see if it's model is a routedEventModel, and if so, informs the model of the routed event</li>
</ol>
Similarily, routed event models can trigger routed events by delegating their viewModel to trigger it for them</p>