<h1>Routed Events</h1>

    <p>Routed events are events which bubble up the the viewModel stack after being triggered. viewModels trigger routed events which are passed to their
parents, grandparents etc... until the event reaches the root viewModel</p>
    <p>In this example there is a viewModel which triggers routed events within a viewModel which subscribes to routed events. Since the events bubble upwards 
the ancestor viewModel will recieve any events triggered by it's decendants</p>


<wipeout-docs.view-models.components.j-code-block>
        <code parser="s">// the routed event
var myRoutedEvent = "increment";

// this class triggers a custom routed event
var triggerEvent = wo.viewModel("demoApp.triggerEvent", wo.content)
    .build();

triggerEvent.trigger = function() {
    this.triggerRoutedEvent(myRoutedEvent);
};
            
// this class subscribes to a custom routed event
var triggerEvent = wo.viewModel("demoApp.subscribeToEvent", wo.content)
    .initialize(function () {
        this.routedEventTriggered = 0;
        this.registerRoutedEvent(myRoutedEvent, this.onRoutedEvent, this);
    })
    .build();

triggerEvent.onRoutedEvent = function(args) {
    args.handled = true;
    this.routedEventTriggered++;
};</code>
    </wipeout-docs.view-models.components.j-code-block>
<wipeout-docs.view-models.components.new-template-code-block new-script-id="'routed-events-script-1'">
    <code parser="s">&lt;demo-app.subscribe-to-event>
    &lt;set-template>
        &lt;div>
            Routed event triggered: &lt;span wo-content="$this.routedEventTriggered">&lt;/span> times
        &lt;/div>
        &lt;demo-app.trigger-event>            
            &lt;set-template>
                &lt;button wo-click="$this.trigger">Trigger routed event&lt;/button>
            &lt;/set-template>
        &lt;/demo-app.trigger-event>
    &lt;/set-template>
&lt;/demo-app.subscribe-to-event></code>
</wipeout-docs.view-models.components.new-template-code-block>

    
    <wipeout-docs.view-models.components.usage-code-block show-definition-code="false">
        <code parser="s">&lt;wo.view template-id="'routed-events-script-1'" /></code>
    </wipeout-docs.view-models.components.usage-code-block>
<p>In the above example setting <code>args.handled = true;</code> will stop the event bubbling up to any more view models.</p>
<br />
<br />