<h1>Set a float property</h1>

    <wipeout-docs.view-models.components.new-template-code-block newScriptId="'set-float-property-script-1'">
        <code>&lt;wo.content-control>
    &lt;my-val constructor="float">
        66.66
    &lt;/my-val>
    &lt;template>
        Binding to element value: &lt;span data-bind="text: myVal">&lt;/span>&lt;br />
        Binding to element value + 1: &lt;span data-bind="text: myVal + 1">&lt;/span>
    &lt;/template>
&lt;/wo.content-control></code>
    </wipeoutDocs.viewModels.components.newTemplateCodeBlock>

    
    <wipeout-docs.view-models.components.usage-code-block showDefinitionCode="false">
        <code>&lt;wo.view templateId="'set-float-property-script-1'" /></code>
    </wipeoutDocs.viewModels.components.usageCodeBlock> 