<h1>Set proerties using XML elements</h1>

<p>As well as setting properties using vm attributes, you can also set them using xml elements. A great example of this is using the <code>template</code> property of a 
    <wipeout.rl href="'/wipeout/## insert: site-directory ##/api.html?type=api&amp;className=wo.contentControl'" text="'contentControl'" /> which has been set in most previous examples
</p>

    <wipeout-docs.view-models.components.new-template-code-block newScriptId="'set-properties-using-xml-elements-script-1'">
        <code>&lt;wo.content-control>
    &lt;template>
        Hello wipeout!
    &lt;/template>
&lt;/wo.content-control></code>
    </wipeout-docs.view-models.components.new-template-code-block>

    
    <wipeout-docs.view-models.components.usage-code-block showDefinitionCode="false">
        <code>&lt;wo.view templateId="'set-properties-using-xml-elements-script-1'" /></code>
    </wipeout-docs.view-models.components.usage-code-block> 
    