<h1>Set a boolean property</h1>

<p>The boolean parser is case insensitive</p>

    <wipeout-docs.view-models.components.new-template-code-block newScriptId="'set-boolean-property-script-1'">
        <code>&lt;wo.content-control>
    &lt;my-val constructor="bool">
        True
    &lt;/my-val>
    &lt;template>
        Binding to element value: &lt;span data-bind="text: myVal">&lt;/span>
    &lt;/template>
&lt;/wo.content-control></code>
    </wipeout-docs.view-models.components.new-template-code-block>

    
    <wipeout-docs.view-models.components.usage-code-block showDefinitionCode="false">
        <code>&lt;wo.view templateId="'set-boolean-property-script-1'" /></code>
    </wipeout-docs.view-models.components.usage-code-block> 