<h1>The Attribute attribute</h1>
<h3><code>wo-attr-attrName="value"</code></h3>
<h3><code>data-wo-attr-attrName="value"</code></h3>
<p>The attr attribute defines an attribute on a html element. The attribute name will be the end of the <code>wo-attr-</code> definition.</p>
<wipeout-docs.view-models.components.new-template-code-block new-script-id="'wo-attr-attr'" highlight--s="wo-attr">
    <code parser="s">&lt;wo.content model--s="Hello Wipeout!">
    &lt;set-template>
        &lt;input wo-attr-value="$model" />
    &lt;/set-template>
&lt;/wo.content></code>
</wipeout-docs.view-models.components.new-template-code-block>

<wipeout-docs.view-models.components.usage-code-block show-definition-code="false">
    <code parser="s">&lt;wo.view template-id="'wo-attr-attr'">&lt;/wo.view></code>
</wipeout-docs.view-models.components.usage-code-block> 