<h1>The Blur attribute</h1>
<h3><code>wo-blur="eventHandler"</code></h3>
<h3><code>data-wo-blur="eventHandler"</code></h3>
<p>The blur attribute defines an event handler to be fired when the element blurs.</p>
<wipeout-docs.view-models.components.new-template-code-block new-script-id="'wo-blur-attr'" highlight--s="wo-blur">
    <code parser="s">&lt;wo.content model--s="Hello Wipeout!">
    &lt;set-template>
        &lt;input wo-blur="logic: alert($model)" />
    &lt;/set-template>
&lt;/wo.content></code>
</wipeout-docs.view-models.components.new-template-code-block>

<wipeout-docs.view-models.components.usage-code-block show-definition-code="false">
    <code parser="s">&lt;wo.view template-id="'wo-blur-attr'">&lt;/wo.view></code>
</wipeout-docs.view-models.components.usage-code-block> 