<h1>The Change attribute</h1>
<h3><code>wo-change="eventHandler"</code></h3>
<h3><code>data-wo-change="eventHandler"</code></h3>
<p>The change attribute defines an event handler to be fired when the element value changes.</p>
<wipeout-docs.view-models.components.new-template-code-block new-script-id="'wo-change-attr'" highlight--s="wo-change">
    <code parser="s">&lt;wo.content model--s="Hello Wipeout!">
    &lt;set-template>
        &lt;input wo-change="logic: alert($model)" />
    &lt;/set-template>
&lt;/wo.content></code>
</wipeout-docs.view-models.components.new-template-code-block>

<wipeout-docs.view-models.components.usage-code-block show-definition-code="false">
    <code parser="s">&lt;wo.view template-id="'wo-change-attr'">&lt;/wo.view></code>
</wipeout-docs.view-models.components.usage-code-block> 