<h1>The Keyup attribute</h1>
<h3><code>wo-keyup="eventHandler"</code></h3>
<h3><code>data-wo-keyup="eventHandler"</code></h3>
<p>The keyup attribute defines an event handler to be fired when a key is released.</p>
<wipeout-docs.view-models.components.new-template-code-block new-script-id="'wo-keyup-attr'" highlight--s="wo-keyup">
    <code parser="s">&lt;wo.content-control model--s="Hello Wipeout!">
    &lt;set-template>
        &lt;input wo-keyup="logic: alert($model)" />
    &lt;/set-template>
&lt;/wo.content-control></code>
</wipeout-docs.view-models.components.new-template-code-block>

<wipeout-docs.view-models.components.usage-code-block show-definition-code="false">
    <code parser="s">&lt;wo.view template-id="'wo-keyup-attr'">&lt;/wo.view></code>
</wipeout-docs.view-models.components.usage-code-block> 