<h1>The Mousedown attribute</h1>
<h3><code>wo-mousedown="eventHandler"</code></h3>
<h3><code>data-wo-mousedown="eventHandler"</code></h3>
<p>The mousedown attribute defines an event handler to be fired when a mouse button is pressed.</p>
<wipeout-docs.view-models.components.new-template-code-block new-script-id="'wo-mousedown-attr'" highlight--s="wo-mousedown">
    <code parser="s">&lt;wo.content-control model--s="Hello Wipeout!">
    &lt;set-template>
        &lt;input wo-mousedown="logic: alert($model)" />
    &lt;/set-template>
&lt;/wo.content-control></code>
</wipeout-docs.view-models.components.new-template-code-block>

<wipeout-docs.view-models.components.usage-code-block show-definition-code="false">
    <code parser="s">&lt;wo.view template-id="'wo-mousedown-attr'">&lt;/wo.view></code>
</wipeout-docs.view-models.components.usage-code-block> 