<h1>The Mouseout attribute</h1>
<h3><code>wo-mouseout="eventHandler"</code></h3>
<h3><code>data-wo-mouseout="eventHandler"</code></h3>
<p>The mouseout attribute defines an event handler to be fired when a mouse leaves the element.</p>
<wipeout-docs.view-models.components.new-template-code-block new-script-id="'wo-mouseout-attr'" highlight--s="wo-mouseout">
    <code parser="s">&lt;wo.content-control model--s="Hello Wipeout!">
    &lt;set-template>
        &lt;input wo-mouseout="logic: alert($this.model)" />
    &lt;/set-template>
&lt;/wo.content-control></code>
</wipeout-docs.view-models.components.new-template-code-block>

<wipeout-docs.view-models.components.usage-code-block show-definition-code="false">
    <code parser="s">&lt;wo.view template-id="'wo-mouseout-attr'">&lt;/wo.view></code>
</wipeout-docs.view-models.components.usage-code-block> 