<h1>The Mouseup attribute</h1>
<h3><code>wo-on-event="event name"</code></h3>
<h3><code>data-wo-on-event="event name"</code></h3>
<p>When combined with another html attribute, determines when that attribute will be fired.</p>
<wipeout-docs.view-models.components.new-template-code-block new-script-id="'wo-mouseup-attr'" highlight--s="wo-on-event">
    <code parser="s">&lt;wo.content-control model--s="Hello Wipeout!">
    &lt;set-template>
        &lt;span wo-content="$model">&lt;/span> &lt;br />
        &lt;input wo-on-event="blur" wo-value="$model" type="text" /> Model will change when you leave the textbox &lt;br />
        &lt;input wo-on-event="keyup" wo-value="$model" type="text" /> Model will change when you release a key
    &lt;/set-template>
&lt;/wo.content-control></code>
</wipeout-docs.view-models.components.new-template-code-block>

<wipeout-docs.view-models.components.usage-code-block show-definition-code="false">
    <code parser="s">&lt;wo.view template-id="'wo-mouseup-attr'">&lt;/wo.view></code>
</wipeout-docs.view-models.components.usage-code-block> 