<h1>The Submit attribute</h1>
<h3><code>wo-submit="eventHandler"</code></h3>
<h3><code>data-wo-submit="eventHandler"</code></h3>
<p>The submit attribute defines an event handler to be fired when a form is submitted.</p>
<wipeout-docs.view-models.components.new-template-code-block new-script-id="'wo-submit-attr'" highlight--s="wo-submit">
    <code parser="s">&lt;wo.content-control model--s="Hello Wipeout!">
    &lt;set-template>
        &lt;form wo-submit="logic: alert($model)">
            &lt;input type="submit" value="Click me" />
        &lt;/form>
    &lt;/set-template>
&lt;/wo.content-control></code>
</wipeout-docs.view-models.components.new-template-code-block>

<wipeout-docs.view-models.components.usage-code-block show-definition-code="false">
    <code parser="s">&lt;wo.view template-id="'wo-submit-attr'">&lt;/wo.view></code>
</wipeout-docs.view-models.components.usage-code-block> 