<h1>The Style attribute</h1>
<h3><code>wo-style-styleName="value"</code></h3>
<h3><code>data-wo-style-styleName="value"</code></h3>
<p>The style attribute defines an style on a html element. The style name will be the end of the <code>wo-style-</code> definition.</p>
<wipeout-docs.view-models.components.new-template-code-block new-script-id="'wo-attr-style'" highlight--s="wo-style">
    <code parser="s">&lt;wo.content-control model--s="#98FB98">
    &lt;set-template>
        &lt;span wo-style-background-color="$model">Hello wipeout!&lt;/span>
    &lt;/set-template>
&lt;/wo.content-control></code>
</wipeout-docs.view-models.components.new-template-code-block>

<wipeout-docs.view-models.components.usage-code-block show-definition-code="false">
    <code parser="s">&lt;wo.view template-id="'wo-attr-style'">&lt;/wo.view></code>
</wipeout-docs.view-models.components.usage-code-block> 