<h1>Working with lists</h1>

<p>Within wipeout, lists are handled by the <wipeout-docs.rl href="'/wipeout/## insert: site-directory ##/api.html?type=api&amp;className=wo.itemsControl'" text="'itemsControl'" /> viewModel. Regular javascript objects cannot be rendered by
    wipeout, as they are not viewModels. The purpose of the itemsControl class is to translate between model and viewModel layers for lists of items.
</p>
    
<wipeout-docs.view-models.components.code-block>
    <code parser="s">&lt;wo.items-control items="['Hello wipeout 1', 'Hello wipeout 2']">
    &lt;item-template>
        &lt;div>
            &lt;span data-bind="text: model">&lt;/span>
            Index: &lt;span data-bind="text: $index">&lt;/span>
        &lt;/div>
    &lt;/item-template>
&lt;/wo.items-control></code>
</wipeout-docs.view-models.components.code-block>

<p>In the itemTemplate, you access an object from the itemSource using the model property. You can also access the object's index using $index.
</p>